/* .RegistrationPage-container {
  min-height: 100vh;
} */

.RegistrationPage-container form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.RegistrationPage-container form label {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.RegistrationPage-container form label span {
    font-size: 12px;
}