.chat-container {
	display: flex;
	flex-direction: column;
	height: 85vh;
	min-height: 85vh;
	padding: 16px;
	background-image: url('../../../../../public/img/backgroundPetHome.jpg');
}

.chat-messages {
	flex: 1;
	overflow-y: auto;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-input {
	display: flex;
	/* align-items: center; */
	padding: 3px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	bottom: 0;
}

.message-item {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #e0f7fa;
	border-radius: 8px;
}

.message-item .flex {
	display: flex;
	justify-content: space-between;
}

.message-item .flex .MuiTypography-body1 {
	margin-left: 8px;
}